body{
    margin: 0;
    padding: 0;
    border: 0;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  }
  .logo{
    object-fit: cover;
    height: 100px;
    width: 150px;
  }
  .nav-images{
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .nav-image{
    height: 20px;
    width: 20px;
  }
  .Navbar-ul{
    display: flex;
    align-items: center;
  }
  .Navbar-ul>li{
  
   margin-right: 20px;
   list-style: none;
  }
  .nav-dropdown{
    border: 1px solid black;
    padding: 1px;
    border-radius: 20px;
  }
  .nav-dropdown >a {
    padding-right: 10px;
  }
  .cart{
    display: flex;
  }
  .searchbox{
    position: absolute;
    top: 40px;
    left: 160px;
    width: 350px;
    height: 40px;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    padding-left: 20px;
  }
  .search-icon{
   position: absolute;
    top: 50px;
    left: 450px;
    color: gray;
    font-size: 14px;
  }
  .link{
    padding: 5px;
    background-color: lightblue !important;
    border-radius: 10px;
    color: rgb(8, 8, 8) !important;
  }
  .content-page{
    display: flex;
    background-color: rgb(214, 229, 235);
  }
  .side-bar{
    padding: 10px;
    width: 100px;
    background-color: #314d4d;
    height: 180vh;


  
  }
  .side-bar > ul{
    margin-top: 40px;
  }
  .side-bar > ul > li {
    list-style: none;
    margin-bottom: 30px;
  }
  .side-bar-image{
    width: 30px;
    height: 30px;
  }
  .side-bar-iterms{
    background-color: #497070;
    width: 200px;
  }
  .side-bar-iterms ul{
    margin-top: 60px;
  }
  .side-bar-iterms ul li{
    list-style: none;
    color: white;
    gap: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
  }

  .focus{
    
    background-color: #314d4d;
  }

  .main-page{
    position: relative;
    width: 80vw;
  }
  .main-page > h6{
    position: absolute;
    top: 20px;
    left: 30px;
  }
  .dashboad-cards{
    display: flex;
    gap: 5px;
    position: absolute;
    top: 60px;
    left: 30px;
    width: 74vw;
    height: 220px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
  }
  .cards{
  
    position: relative;
    background-color: #314d4d;
    width: 230px;
    height: 170px;
    margin-top: 25px;
    margin-left: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);

  }
  .card3{
  
    position: relative;
    background-color: #ce6006;
    width: 230px;
    height: 170px;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);

  }
  .card1{
  
    position: relative;
    background-color: rgb(202, 190, 13);
    width: 230px;
    height: 170px;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 25px 25px rgba(87, 80, 20, 0.37);

  }
  .card2{
  
    position: relative;
    background-color: #a74213;
    width: 230px;
    height: 170px;
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    border-radius: 10px;
    box-shadow:  0 25px 25px rgba(87, 80, 20, 0.37);


  }
  .card-icon{
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: #0e0f0f8c;
    padding: 10px;
    border-radius: 20px;
    font-size: larger;
  }

  .bi-three-dots{
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .card-name{
    position: absolute;
    top: 90px;
    left: 15px;
  }
  .card-details{
    background-color: #0e0f0f8c;
    width: 230px;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: -15px;
    padding: 3px;
    left: 0px;

  }

  .scheduled-auction{
    position: relative;
  }
  .auction-left{
    position: absolute;
    top: 300px;
    right: 380px;
    width: 47vw;
 
  }
  .sales{
    background-color:  white;
    border-radius: 10px;
    width: 47vw;
    height: 300px;
  }

  .latest-invioce{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow:  0 25px 25px rgba(87, 80, 20, 0.37);
    width: 47vw;
    height: 500px;

  }
  .latest-title{
    display: flex;
    justify-content: space-between;
  }
  .latest-title >h6{
    padding: 15px 0px 15px 15px;
  }
  .latest-title > p {
    background-color: #314d4d;
    margin: 7px;
    color: white;
    border-radius: 15px;
    padding: 3px;
    width: 160px;
    margin: 8pxc;
  }
  .Recipient-pic{
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }

  .Invoice-button{
    background-color: white;
    border: 1px solid rgb(4, 172, 4);
    padding: 3px;
    border-radius: 10px;
    width: 50px;

  }
  .auction-right{
    position: absolute;
    top: 300px;
    right: 60px;
    width: 300px;
  }
  .auction-main-body{
    border: 1px solid gray;
    background-color: white;
    padding: 15px;
    height: 400px;
    width: 340px;
    border-radius: 10px;
    box-shadow:  0 25px 25px rgba(87, 80, 20, 0.37);
  }
  .auction-body{
    display: flex;
    justify-content: space-around;
  }
  .auction-pic{
    /* position: absolute;
    top: 10px;
    left: 5px; */
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    
  }

  .auction-list,.auction-list2 {
    display: flex;
    justify-content: space-around;
    font-size: small;
    
  }
  .auction-main-body ul li{
    position: relative;
    background-color: lightblue;
    list-style: none;
    right: 14px;
    top: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    
  }

  .auction-main-body2{
    position: absolute;
    top: 750px;
    right: 20px;
    border: 1px solid gray;
    background-color: white;
    padding: 15px;
    height: 400px;
    width: 340px;
    border-radius: 10px;
    box-shadow:  0 25px 25px rgba(87, 80, 20, 0.37);
  }
   .auction-body2{
    display: flex;
    justify-content: space-around;
  }
   .auction-main-body2 ul li{
    position: relative;
    background-color: lightblue;
    list-style: none;
    right: 14px;
    top: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
  }

  .auction-price >span{
    background-color: gray;
    padding: 3px;
    border-radius: 10px;
    font-size: 12px;
  }