body{
    margin: 0;
    padding: 0;
    border: 0;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 229, 235);
    height: 100px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  }
  .logo{
    object-fit: cover;
    height: 100px;
    width: 150px;
  }
  .nav-images{
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .nav-image{
    height: 20px;
    width: 20px;
  }
  .Navbar-ul{
    display: flex;
    align-items: center;
  }
  .Navbar-ul>li{
  
   margin-right: 20px;
   list-style: none;
  }
  .nav-dropdown{
    border: 1px solid black;
    padding: 1px;
    border-radius: 20px;
  }
  .nav-dropdown >a {
    padding-right: 10px;
  }
  .cart{
    display: flex;
  }
  .searchbox{
    position: absolute;
    top: 40px;
    left: 160px;
    width: 350px;
    height: 40px;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    padding-left: 20px;
  }
  .search-icon{
   position: absolute;
    top: 50px;
    left: 450px;
    color: gray;
    font-size: 14px;
  }
  .link{
    padding: 5px;
    background-color: lightblue !important;
    border-radius: 10px;
    color: rgb(8, 8, 8) !important;
  }
  .content-page{
    display: flex;
    background-color: rgb(214, 229, 235);
  }
  .side-bar{
    padding: 10px;
    width: 100px;
    background-color: #314d4d;
    height: 175vh;


  
  }
  .side-bar > ul{
    margin-top: 40px;
  }
  .side-bar > ul > li {
    list-style: none;
    margin-bottom: 30px;
  }
  .side-bar-image{
    width: 30px;
    height: 30px;
  }
  .side-bar-iterms{
    background-color: #497070;
    width: 200px;
  }
  .side-bar-iterms ul{
    margin-top: 60px;
  }
  .side-bar-iterms ul li{
    list-style: none;
    color: white;
    gap: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
  }
 
  .main-title{
    background-color: white;
    width: 80vw;
    height: 80px;
  }
  .sub-title{
    display: flex;
    justify-content: space-between;
    height: 60px;
   
    align-items: center;
  }

  .sub-title-name{
    display: flex;
    justify-content: space-around;
    width: 300px;
   
  }
  
  .sub-title-name >button{
    border-radius: 10px;
    background-color: orange;
    width: 100px;
    height: 30px;
    border: none;
  }

  .sub-title-button{
    border-radius: 5px;
    background-color: rgb(30, 165, 30);
    color: white;
    width: 100px;
    height: 30px;
    border: none;
  }
  .sub-title-button1{
    border-radius: 5px;
    background-color:rgb(214, 229, 235) ;
    color: black;
    width: 100px;
    height: 30px;
    border: 1px solid red;
  }

  .main-info{
    display: flex;
  }

  .General-info{
    width: 200px;
    height: 155vh;
    background-color: white;
  }
  .General-info > ul {
    margin-top: 10px;
  }
  .General-info ul li{
    list-style: none;
  }

  .General-form{
    width: 40vw;
    height: 155vh;
    background-color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  .General-form > h6{
    padding: 10px;
    margin-left: 20px;
  }
  .form-info{
    display: flex;
    justify-content: space-around;
  }
  .input{
    width: 250px;
    height: 30px;
    background-color:rgb(214, 229, 235)  ;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
  }
  .inputs{
    width: 300px;
    height: 30px;
   
    border: 0.5px solid gray;
    outline: none;
    border-radius: 5px;
  }
  .item-title{
    padding: 10px;
    margin-left: 20px;
  }
  .Discription{
    margin-left: 15px;
  }
  .Discription>label{
    padding-top: 10px;
  }

  .data-input{
    width: 500px;
    border-radius: 10px;
  }
   .form-images{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  .form-img{
    border: 1px solid gray;
    padding: 8px;
    height: 130px;
    width: 130px;
    border-radius: 10px;
  }

  .preview{
    width: 300px;
    height: 155vh;
    background-color: white;
    display: flex;
    flex-direction: column;

  }

  .preview-image{
    padding: 10px;
    height: 300px;
    width: 260px;
  }
  .preview > button{
    background-color: rgb(52, 52, 110);
    color: white;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 50px;
    margin-left: 40px;
  }